@font-face {
    font-family: sans-serif-regular; /* Имя шрифта */
    src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: sans-serif-semibold; /* Имя шрифта */
    src: url(../fonts/OpenSans-Semibold.ttf); /* Путь к файлу со шрифтом */
}
